doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, user-scalable=no')

		link(href='dist/css/style.min.css' rel='stylesheet')
		link(href='dist/assets/favicon.ico' rel='shortcut icon')

		title JS Terminal
	body

		// terminal body
		include _terminal.jade

	script(src='dist/js/main.js' type='text/javascript')
